@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply fixed flex items-center justify-between w-full h-16 bg-white border-b;

  /* transition: box-shadow 0.5s ease-in, border 0.5s ease-in; */
  z-index: 1;
}

.main {
  @apply flex flex-col items-center w-full py-6 pt-24;

  min-height: calc(100vh - 4rem);
}

.footer {
  @apply h-16 flex items-center justify-center border-t mx-4 p-2;
}
@media (min-width: 640px) {
  .footer {
    @apply h-16 flex items-center justify-center border-t mx-8 p-2;
  }
}

.project-item {
  @apply border border-gray-200 rounded-md py-3 px-5 mb-2 w-full hover:text-blue-600 focus:text-blue-600;
}
@media (min-width: 640px) {
  .project-item {
    @apply py-3 px-5 mb-2 hover:text-blue-600 focus:text-blue-600;

    width: calc(50% - 0.5rem);
  }
}

.nav-link {
  @apply py-2 px-3 rounded-md hover:bg-gray-100;
}
.nav-link.active {
  @apply bg-gray-200 hover:bg-gray-200;
}

.input-group {
  @apply mb-3;
}
.input-group input,
.input-group textarea {
  display: block;
}

.tag-container {
  @apply gap-1;

  display: flex;
  flex-wrap: wrap;
}
.tag {
  @apply rounded-full py-0.5 px-2 text-sm block;
}

.post-item {
  @apply border border-gray-200 rounded-md py-3 pb-4 px-3 md:px-5 mb-3;
}

.post-link {
  @apply text-blue-500 whitespace-nowrap;

  display: none;
}
@media (min-width: 640px) {
  .post-link {
    display: unset;
  }
}

.notification-overlay {
  bottom: 0;
  position: fixed;
  right: 0;
}
.notification {
  @apply max-w-xs p-3 px-4 shadow-md rounded-sm mr-2 mb-2;

  border-width: 1px;
}
.notification.error {
  @apply bg-red-500 text-white;
}
.notification.success {
  @apply bg-green-500 text-white;
}
.notification.warning {
  @apply bg-yellow-500 text-white;
}

/** 
 * Trick to get NextJS Image component responsive without pre-defining height/width.
 * Courtesy of https://dev.to/felixhaeberle/responsive-fix-for-the-next-js-image-component-1351.
 * Not used, but leaving here just in case.
 **/
.image-container {
  width: 100%;
}
.image-container > div {
  position: unset !important;
}
.image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.container {
  @apply max-w-3xl px-4 pb-8;
}
.content-container {
  @apply sm:px-6;
}

.profile-image {
  @apply rounded-md;

  display: flex;
  max-width: 300px;
  overflow: hidden;
}

.markdown h2 {
  @apply text-3xl mb-4;
}
.markdown h3 {
  @apply text-2xl mb-4;
}
.markdown h4 {
  @apply text-xl mb-4;
}
.markdown p {
  @apply mb-4;

  line-height: 1.7;
  word-break: break-word;
}
.markdown ol {
  @apply pl-6 my-2;

  list-style-type: decimal;
}
.markdown li {
  @apply my-2;
}
.markdown ul {
  @apply pl-6 my-2;

  list-style-type: circle;
}
.markdown li {
  @apply my-2;
}
.markdown p code,
.markdown ol code,
.markdown ul code {
  @apply bg-gray-100 p-1 px-2 rounded-md text-indigo-600 text-sm;
}
.markdown pre {
  @apply mb-4 pb-0;
}
.markdown pre > pre {
  @apply rounded-md;

  padding-bottom: 0 !important;
}

.mobile-nav {
  @apply bg-white;

  background-color: white;
  bottom: -100px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(10rem);
  transition: transform 0.15s ease;
  width: 10rem;
  z-index: 3;
}
.mobile-nav-header {
  @apply h-16 pr-3;

  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.mobile-nav-body {
  @apply py-1 px-3;
}
.mobile-nav-body .nav-link {
  @apply mb-1;

  display: block;
}
.mobile-nav.open {
  @apply shadow-md;

  transform: translateX(0);
}
.backdrop {
  @apply bg-black bg-opacity-10;

  bottom: -100px;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
.backdrop.open {
  display: block;
}
